<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

    <title>BCSC</title>
  </head>
  
  <body>
    <div class="content">
      <div id="recipeIndex" class="container">
        <div class="flashes">
          <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
          <div class="flash success">
            <%= flashMessages.success %>
          </div>
          <% } else if (flashMessages.error) { %>
          <div class="flash error">
            <%= flashMessages.error %>
          </div>
          <% } %>
          <% } %>
        </div>
        <div id=searchBarBox class="row">
          <img class="col-1" height="100%" src="icons/search.png">
          <input  class="col" type="text" id="searchBarInput" onkeyup="dynamicSearch()" placeholder="Recipe Search">
        </div>
        <ul id="recipeList">
          <% DBrecipes.forEach(recipe=> { %>
            <li class="recipeIndexItem row">
              <a href="/recipes/<%= recipe._id %>" class="col">
                <%= recipe.title %>
                <div class="col-md-2 indexItemMenu">
                  <a class="btn btn-outline-warning" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                  <a class="btn btn-outline-danger">Delete</a>
                </div>

                <!-- View modal -->
                <div class="modal fade" id="openModalView" tabindex="-1" role="dialog" aria-labelledby="openModalViewLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <iframe src="/recipes/<%= recipe._id %>">

                        </iframe>
                    </div>
                  </div>
                </div>



            </li>
            
            <% }); %>
          </ul>
        <!-- Menu -->
        <div id="indexNav" class="container">
          <div id="newRecipeButton row">
            <a class="btn btn-success col-12" href="/recipes/addrecipe">
              Add New Recipe
            </a>
          </div>
          <!-- <button type="button" class="btn btn-success col-12" data-toggle="modal" data-target=".bd-example-modal-lg">Help page</button> -->
          <a class="btn btn-success col-12" href="/help">About This Applet</a>
        </div>
        
      </div>
    </div>
      <script src="scripts.js"></script>
      

      
        <div class="modal fade bd-example-modal-lg" id="helpPageModal" tabindex="-1" role="dialog" aria-labelledby="helpPageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <h3>Using the Recipe Application</h3>
              <p>rem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at ipsum nibh. Nulla quis elit mauris. Integer vestibulum pretium iaculis. Aliquam id tempus eros, in euismod elit. Cras sollicitudin elementum dui. Nullam malesuada leo in sem varius, et auctor tortor ultrices. Nulla hendrerit volutpat tellus. Etiam ullamcorper lectus id nunc ullamcorper venenatis. Quisque purus tellus, tincidunt eget tempus vulputate, interdum eget massa.

                Mauris ac mollis velit, ac sodales lectus. Donec semper lorem non quam lobortis finibus. Duis efficitur placerat placerat. Ut vel porta nulla, gravida vulputate eros. Donec rutrum, massa et consequat mollis, augue mauris dictum libero, at congue erat ante a nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam rhoncus, lectus vel auctor interdum, felis neque lobortis nulla, vel sodales tortor dui sed felis. Vestibulum dignissim non magna a lobortis. In finibus facilisis massa quis pretium.
                
                Phasellus sagittis velit sem, eget sollicitudin tellus tempus sed. Quisque at diam vehicula, pharetra ex eu, euismod ipsum. Aliquam sit amet tempor tellus. Fusce ullamcorper, erat quis rhoncus malesuada, felis magna laoreet massa, maximus condimentum nisl nisi ut purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse cursus eget ex eget convallis. Nulla vel felis tortor. Vestibulum eleifend neque ut lacus bibendum porttitor. Cras dictum a mauris sed imperdiet.</p>
            </div>
          </div>
        </div>
      
      
      
      <!-- Deletion Confirmation Modal -->
      <div id="viewModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          </div>
        </div>
      </div>

      
      
    </section>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
  </body>

</html>

<script>
  let generateViewModal = function(recipeId) {

  }
</script>
