<!DOCTYPE html>
<head>
    <title>Recipe Helper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="./main.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
</br>
</br>
<div id="recipeIndex" class="container">
  <div class="flashes">
    <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
    <div class="flash success">
      <%= flashMessages.success %>
    </div>
    <% } else if (flashMessages.error) { %>
    <div class="flash error">
      <%= flashMessages.error %>
    </div>
    <% } %>
    <% } %>
  </div>

    <h1><%= recipe.title %></h1>
    <label for=amount>Batches</label>
    <input type=number name=amount>
    <h3>Main Ingredients</h3>
    <table>
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
      </tr>
      <% recipe.ingredients.forEach(ingredient => { %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.amount %> <%= ingredient.measurement %></td>
      </tr>
        <% }) %>
    </table>

</html>